doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/Compiled-CSS/css/style.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer")
        title Testimonial Box
    body
        .testimonial-container
            .progress-bar
            .fa-solid.fa-quote-right.fa-quote
            .fa-solid.fa-quote-left.fa-quote
            p.testimonial Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus accusantium veniam est ad nobis autem explicabo, iste aspernatur praesentium aut accusamus, harum ratione earum ipsam facilis, quidem laudantium? At illo esse error dignissimos inventore velit. Nam maiores quae sit deserunt molestiae laborum facere dignissimos quia. Dolore, repudiandae sed? Pariatur, nihil!
            .user 
                img.user-image(src="https://randomuser.me/api/portraits/women/46.jpg", alt="alt")
                .user-details 
                    h4.username Miyah Myles 
                    p.role Marketing    


        script(src="/dist/index.js")